<div class="container-search">
  <div class="d-flex">
    <span>
      <img src="assets/images/back.png" alt="" width="13px" class="icon-back cursor-pointer" (click)="routerBack()"
        title="Trở về">
    </span>
    <span class="text-uppercase font-weight-bold title-content">
      <div class="font-size--20px">
        thông tin chi tiết loài cây theo đơn vị hành chính
      </div>
      <div class="font-size--18px">
        (species detailed information by local unit)
      </div>
    </span>
  </div>
  <div class="shadow-box bg-white mt-4">
    <input nbInput type="text" class="placeholder-icon input-search w-100"
      placeholder="&#xf002; Tìm kiếm theo tên chủ rừng" (keyup)="searchTerm$.next($event.target.value)"
      [value]="searchTerm$.value">
  </div>
  <div class="w-100 d-flex pt-2 shadow-box bg-white mt-2 p-3 flex-flow">
    <!-- <div class="p-1 pl-2 range-slider" *ngIf="isShowRangeBar">
      <p>Tuổi</p>
      <div *ngIf="showFilterYear">
        <nouislider [config]="someKeyboardConfig" [step]="1" [min]="0" [max]="maxRange" (ngModelChange)="changeValueRange($event)"
          [(ngModel)]="someRange" class="control__slider--margin"></nouislider>
        <div class="d-flex justify-content-between range text-truncate">
          <div class="min pl-1">{{filterModel.oldFrom ? filterModel.oldFrom : 0}}</div>
          <div class="max pr-1">{{filterModel.oldTo}}</div>
        </div>
      </div>
      <div *ngIf="!showFilterYear" style="padding-top: 9px;">
        0
      </div>
    </div> -->
    <div class="p-1 pl-2 w-20 age__min-width">
      <div class="age--bot">
        <div class="d-flex">
          <span>Tuổi&nbsp;</span>
          <span class="font-size--10px center-parent">(Age)</span>
        </div>
        <div *ngIf="options.ceil" class="font-size--10px">
          Kéo 2 bên để chọn tuổi (Drag 2 sides to choose age)
        </div>
      </div>
      <!-- <div *ngIf="options.ceil">
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
      </div> -->
      <div *ngIf="options.ceil" class="custom-slider">
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        <div class="d-flex justify-content-between range-value-slider">
          <div>{{options.floor}}</div>
          <div>{{options.ceil}}</div>
        </div>
      </div>
      <div *ngIf="!options.ceil" class="number-age">
        0
      </div>
    </div>
    <div class="p-1 ml-3">
      <!-- <p></p> -->
      <div class="filter-field">
        <div>Chứng chỉ</div>
        <div class="font-size--10px">(Certificate)</div>
      </div>
      <select class="pr-1 select-control" [(ngModel)]="filterModel.forestCertID">
        <option [value]="null">Tất cả (All)</option>
        <option *ngFor="let itemForestCertId of certificateList; index as i" [value]="itemForestCertId.key">
          {{ itemForestCertId.text }}
        </option>
      </select>
    </div>
    <div class="p-1 pl-2">
      <div class="filter-field">
        <div>Độ tin cậy</div>
        <div class="font-size--10px">(Reliability level)</div>
      </div>
      <select class="pr-1 select-control" [(ngModel)]="filterModel.reliability">
        <option [value]="null">Tất cả (All)</option>
        <option *ngFor="let itemReliability of forestplotReliability; index as i" [value]="itemReliability.key">
          {{ itemReliability.code }}
        </option>
      </select>
    </div>
    <div class="pr-2 ml-auto d-flex">
      <span class="pr-2 d-flex align-items-end">
        <button nbButton class="text-uppercase cursor-pointer" (click)="filter()">lọc/filter</button>
      </span>
      <span class="d-flex align-items-end">
        <button nbButton class="text-uppercase cursor-pointer abort-bg" (click)="clearFilter()">xóa lọc/delete
          filter</button>
      </span>
    </div>
  </div>
  <!-- <div class="p-1 pl-2 w-50">
    <p>Tuổi</p>
    <div>
      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
    </div>
  </div> -->
  <div class="shadow-box bg-white mt-2 p-3">
    <div class="w-100 d-flex">
      <div class="w-50">
        <div>
          <span class="font-weight-bold">Địa phương [Locality]:&nbsp;</span>
          <span *ngIf="detailsofTreeSpecies?.commune?.text">{{detailsofTreeSpecies?.commune?.text}}</span>
          <span *ngIf="detailsofTreeSpecies?.commune?.text && detailsofTreeSpecies?.district?.text">,&nbsp;</span>
          <span *ngIf="detailsofTreeSpecies?.district?.text">{{detailsofTreeSpecies?.district?.text}}</span>
          <span
            *ngIf="(detailsofTreeSpecies?.commune?.text || detailsofTreeSpecies?.district?.text) && detailsofTreeSpecies?.stateProvince?.text">,&nbsp;</span>
          <span *ngIf="detailsofTreeSpecies?.stateProvince?.text">{{detailsofTreeSpecies?.stateProvince?.text}}</span>
        </div>
      </div>
      <div class="w-50">
        <span class="font-weight-bold">Tổng trữ lượng [Total volume]:&nbsp;</span>
        <span>{{detailsofTreeSpecies?.volumnPerPlot | thousandSeparate}}&nbsp;{{detailsofTreeSpecies && detailsofTreeSpecies.volumnPerPlot ? 'm3' : ''}}</span>
      </div>
    </div>
    <div class="w-100 d-flex pt-2">
      <div class="w-50">
        <div>
          <span class="font-weight-bold">Loài cây&nbsp;(theo nhóm) [Species (by group)]:&nbsp;</span>
          <span>{{detailsofTreeSpecies?.treeSpec?.name}}</span>
        </div>
      </div>
      <div class="w-50">
        <span class="font-weight-bold">Tổng diện tích [Total area]:&nbsp;</span>
        <span>{{detailsofTreeSpecies?.area | thousandSeparate}}&nbsp;{{detailsofTreeSpecies && detailsofTreeSpecies.area ? 'ha' : ''}}</span>
      </div>
    </div>
    <div class="w-100 pt-2 position-relative table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th>
              <span class="d-flex justify-content-start">
                <div class="pr-2">
                  <div>STT</div>
                  <div>(No.)</div>
                </div>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('ICTreeSpec.ICTreeSpecName')">
                <div class="pr-2">
                  <div>Loài cây</div>
                  <div class="font-size--10px">(Species)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICTreeSpec.ICTreeSpecName Asc' && filterModel.sorting != 'ICTreeSpec.ICTreeSpecName Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICTreeSpec.ICTreeSpecName Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICTreeSpec.ICTreeSpecName Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer" (click)="orderByField('GECompartmentCode')">
                <div class="pr-2">
                  <div>Tiểu khu</div>
                  <div class="font-size--10px">(Sub-division)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'GECompartmentCode Asc' && filterModel.sorting != 'GECompartmentCode Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'GECompartmentCode Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'GECompartmentCode Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer" (click)="orderByField('GESubCompartmentCode')">
                <div class="pr-2">
                  <div>Khoảnh</div>
                  <div class="font-size--10px">(Plot)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'GESubCompartmentCode Asc' && filterModel.sorting != 'GESubCompartmentCode Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'GESubCompartmentCode Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'GESubCompartmentCode Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th class="plot__width">
              <span class="d-flex justify-content-start cursor-pointer" (click)="orderByField('GEPlotCode')">
                <div class="pr-2">
                  <div>Lô</div>
                  <div class="font-size--10px">(Lot)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'GEPlotCode Asc' && filterModel.sorting != 'GEPlotCode Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'GEPlotCode Asc'" class="fa fa-caret-down" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'GEPlotCode Desc'" class="fa fa-caret-up" style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('ICForestPlotVolumnPerPlot')">
                <div class="pr-2">
                  <div>Trữ lượng (m3)</div>
                  <div class="font-size--10px">(Volume)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICForestPlotVolumnPerPlot Asc' && filterModel.sorting != 'ICForestPlotVolumnPerPlot Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotVolumnPerPlot Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotVolumnPerPlot Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer" (click)="orderByField('ICForestPlotArea')">
                <div class="pr-2">
                  <div>Diện tích (ha)</div>
                  <div class="font-size--10px">(Area)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICForestPlotArea Asc' && filterModel.sorting != 'ICForestPlotArea Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotArea Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotArea Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('ICForestPlotPlantingYear')">
                <div class="pr-2">
                  <div>Tuổi</div>
                  <div class="font-size--10px">(Age)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICForestPlotPlantingYear Asc' && filterModel.sorting != 'ICForestPlotPlantingYear Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotPlantingYear Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotPlantingYear Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('ICForestPlotPlantingDate')">
                <div class="pr-2">
                  <div>Năm trồng</div>
                  <div class="font-size--10px">(Planting Year)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICForestPlotPlantingDate Asc' && filterModel.sorting != 'ICForestPlotPlantingDate Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotPlantingDate Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotPlantingDate Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('ICForestCert.ICForestCertName')">
                <div class="pr-2">
                  <div>Chứng chỉ</div>
                  <div class="font-size--10px">(Certificate)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICForestCert.ICForestCertName Asc' && filterModel.sorting != 'ICForestCert.ICForestCertName Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestCert.ICForestCertName Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestCert.ICForestCertName Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer" (click)="orderByField('APActor.APActorName')">
                <div class="pr-2">
                  <div>Chủ rừng</div>
                  <div class="font-size--10px">(Forest owner)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'APActor.APActorName Asc' && filterModel.sorting != 'APActor.APActorName Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'APActor.APActorName Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'APActor.APActorName Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('APActor.APActorType.APActorTypeName')">
                <div class="pr-2">
                  <div>Loại chủ rừng</div>
                  <div class="font-size--10px">(Forest owner type)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'APActor.APActorType.APActorTypeName Asc' && filterModel.sorting != 'APActor.APActorType.APActorTypeName Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'APActor.APActorType.APActorTypeName Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'APActor.APActorType.APActorTypeName Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer">
                <div class="pr-2">
                  <div>LH gián tiếp</div>
                  <div class="font-size--10px">(Indirect contact)</div>
                </div>
              </span>
            </th>
            <th>
              <span class="d-flex justify-content-start cursor-pointer"
                (click)="orderByField('ICForestPlotReliability')">
                <div class="pr-2">
                  <div>Độ tin cậy</div>
                  <div class="font-size--10px">(Reliability level)</div>
                </div>
                <span>
                  <i *ngIf="filterModel.sorting == '' || (filterModel.sorting != 'ICForestPlotReliability Asc' && filterModel.sorting != 'ICForestPlotReliability Desc')"
                    class="fa fa-sort" style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotReliability Asc'" class="fa fa-caret-down"
                    style="color: #ffff;"></i>
                  <i *ngIf="filterModel.sorting == 'ICForestPlotReliability Desc'" class="fa fa-caret-up"
                    style="color: #ffff;"></i>
                </span>
              </span>
            </th>
            <th>
              <span class="text-center">
                <div class="pr-2">
                  <div>Thao tác</div>
                  <div class="font-size--10px">(Action)</div>
                </div>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedResult.items; let i = index">
            <td>{{i+1}}</td>

            <td [title]="item?.treeSpec?.name ? item?.treeSpec?.name : ''">{{item?.treeSpec?.name}}</td>

            <td [title]="item?.compartment ? item.compartment.code : ''">
              {{ item?.compartment ? item.compartment.code : ''}}
            </td>

            <td class="pr-5" [title]="item?.subCompartment ? item.subCompartment.code : ''">
              {{item?.subCompartment ? item.subCompartment.code : ''}}
            </td>
            <td>
              <!-- class="text-right pr-5" -->
              <div class="d-flex justify-content-between">
                <div class="plot-value__pad" [title]="item?.plotCode ? item?.plotCode : ''">
                  {{item?.plotCode}}
                </div>
                <div (click)="openPopupGoogleMap(item)" class="icon-map">
                  <img class="cursor-pointer" title="Xem vị trí trên bản đồ" width="23px"
                    src="assets/images/google-map-icon.svg" alt="">
                </div>
              </div>
            </td>
            <td class="text-right pr-5" [title]="item?.volumnPerPlot ? item?.volumnPerPlot : ''">
              {{item?.volumnPerPlot | thousandSeparate}}</td>
            <td class="text-right pr-5" [title]="item?.area ? item?.area : ''">{{item?.area | thousandSeparate}}</td>
            <td class="text-right pr-5" [title]="item?.plantingYear ? item?.plantingYear : ''">{{item?.plantingYear}}
            </td>
            <td class="text-right pr-5"
              [title]="item?.plantingDate ? (item?.plantingDate*1000 | date:'dd/MM/yyyy': '+0000') : ''">
              {{item?.plantingDate*1000 | date:'dd/MM/yyyy': '+0000'}}</td>
            <td [title]="item?.forestCert?.text ? item?.forestCert?.text : ''">{{item?.forestCert?.text}}</td>
            <td [title]="item?.actor?.name ? 'Xem chi tiết chủ rừng' : ''">
              <a class="cursor-pointer"
                (click)="showPopupDetailForestOwner(item?.actor, item?.actorType?.name, item?.id)">{{item?.actor?.name}}</a>
            </td>
            <td [title]="item?.actorType?.name ? item?.actorType?.name : ''">{{item?.actorType?.name}}</td>
            <td>
              <a class="cursor-pointer" (click)="showPopupDetailInformationIndirect(item?.id, detailsofTreeSpecies)"
                title="Xem liên hệ">
                Xem liên hệ</a>
            </td>
            <td>
              <ng-container *ngIf="item.reliability && item.reliability.text">
                <div [class.reliability-low]="item?.reliability?.key === 'LowRisk'"
                  [class.reliability-moderate-risk]="item?.reliability?.key === 'ModerateRisk'"
                  [class.reliability-high-risk]="item?.reliability?.key === 'HighRisk'"
                  [class.reliability-legal]="item?.reliability?.key === 'Legal'"
                  [title]="item?.reliability?.text ? item?.reliability?.text : ''">
                  {{item?.reliability?.text}}
                </div>
              </ng-container>
            </td>
            <!-- <td class="text-center" (click)="showDetailTreeSpecies(item)" title="Xem chi tiết">
              <i class="fa fa-eye text-warning cursor-pointer"></i>
            </td> -->
            <td class="modify-manipulation" style="text-align: center">
              <div class="table-action justify-content-between pr-2 align-items-center">
                <ng-container>
                  <span class="cursor-pointer table-action__detail text-warning" (click)="showDetailTreeSpecies(item)"
                    title="Xem chi tiết">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                  <span class="cursor-pointer table-action__permission text-secondary ml-3"
                    (click)="showHistoryDetailTreeSpecies(item)" title="Xem lịch sử">
                    <i class="fa fa-book" aria-hidden="true"></i>
                  </span>
                  <span class="cursor-pointer table-action__edit ml-3" (click)="showDetailCreateTreeSpecies(item)"
                    title="Sửa thông tin" *ngIf="admin">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                </ng-container>
              </div>
            </td>
          </tr>

          <!-- <tr>
            <td>1</td>
            <td>Keo lai</td>
            <td>549B</td>
            <td>1</td>
            <td>1</td>
            <td>40,007.00</td>
            <td>40,007.03</td>
            <td>5</td>
            <td>FSC</td>
            <td>
              <a class="cursor-pointer" (click)="showPopupDetailForestOwner(12)">Nguyễn Văn Anh</a>
            </td>
            <td>
            </td>
            <td>
              <a class="cursor-pointer" (click)="showPopupDetailInformationIndirect()">Xem liên hệ</a>
            </td>
            <td>
              <div class="reliability-legal">
                Hợp pháp
              </div>
            </td>
            <td class="text-center">
              <i class="fa fa-eye text-warning"></i>
            </td>
          </tr> -->

        </tbody>
      </table>
      <div *ngIf="pagedResult && (pagedResult.items || []).length === 0" class="text-center p-3">Không có dữ liệu</div>
      <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
      <div>
        <span class="font-weight-bold">Nguồn:&nbsp;</span>
        <span>FORMIS, iTwood, SRD, Văn phòng HAWA DDS, Tập đoàn Cao su VN và các nguồn khác</span>
      </div>
      <div>
        <span class="font-weight-bold">(Source:&nbsp;</span>
        <span>FORMIS, iTwood, HAWA DDS office, Vietnam Rubber Group, and others)</span>
      </div>
      <loading *ngIf="loading"></loading>
    </div>
  </div>
</div>