@using _RazorTemplates.ViewModels
@model SendMailVerifyUserViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Chào bạn @Model.Name,</p>
<p>Chúng tôi đã nhận được đề nghị cấp lại mật khẩu tài khoản: @Model.Email</p> 
<p>Vui lòng chọn vào đường link bên dưới để đặt lại mật khẩu:</p>
@Model.GotoUrl
<p><i>Nếu bạn không thực hiện yêu cầu đặt lại mật khẩu, vui lòng bỏ qua thư này.</i></p>
<p><i>- Link thay đổi mật khẩu chỉ có giá trị trong vòng 02 ngày kể từ ngày bạn nhận được email này.</i></p>
<p>Trân trọng,</p>
<p>HAWA DDS.</p>