@using _RazorTemplates.ViewModels
@model SendMailVerifyUserViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}

<b>KÍCH HOẠT TÀI KHOẢN</b>
<p>Chào bạn @Model.Name,</p>
<p>Tài khoản của bạn vừa được tạo bởi Quản trị viên Hệ thống Giải trình nguồn gốc gỗ hợp pháp HAWA DDS:</p>
<p>       - Email tài khoản: @Model.Email</p>
<p>       - Mật khẩu: @Model.Password</p>
<p>Vui lòng chọn vào đường link bên dưới để thực hiện kích hoạt tài khoản:</p>
@Model.GotoUrl
<p><i>Lưu ý:</i></p>
<p><i>- Link kích hoạt chỉ có giá trị trong vòng 02 ngày kể từ ngày bạn nhận được email này.</i></p>
<p><i>- Để đảm bảo tính bảo mật, vui lòng thay đổi mật khẩu sau khi đăng nhập thành công.</i></p>
<p>Trân trọng,</p>
<p>HAWA DDS.</p>