<div class="wrapper-popup overlay-popup d-flex justify-content-center align-items-center">
  <div class="popup p-4 shadow-box">
    <div class="close-icon cursor-pointer shadow-box d-flex justify-content-center align-items-center" (click)="closePopup()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div>
      <div class="text-center">
          Bạn chưa đăng nhập? Vui lòng đăng nhập để xem được thông tin.
      </div>
      <div class="text-center mt-3">
          <button nbButton class="text-uppercase mt-2 cursor-pointer" (click)="returnPageLogin()">đăng nhập</button>
      </div>
    </div>
  </div>
</div>