.page--background{
    background: url('assets/images/backGround-login.jpg') no-repeat fixed center; 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 3em;
    .content{
        width: 77%;
        border-radius: 0.5rem;
    }
}