.wrapper {
    background-color: #fff;
  
    .search-bar {
      button {
        border: none;
      }
  
      .search-action {
        &__input {
          background-color: #F3F8F7;
          width: 25rem;
          max-width: 25rem;
        }
  
        &__submit {
          max-width: 3rem;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  
    table {
      table-layout: fixed;
      .checkbox__item {
        position: relative;
  
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          width: 15px;
          height: 15px;
          border: .5px solid #cccccc;
          border-radius: 3px;
          background-color: #ffffff;
        }
  
        &:checked::before {
          background-color: #ffffff;
          content: '\f00c';
          font-family: FontAwesome;
          color: #008a77;
          font-size: 13px;
          text-align: center;
        }
      }
      // th
      .no{
        width: 20%;
        min-width: 80px;
      }
      .province-or-status{
        width: calc(40% - 180px);
      }
      .manipulation{
        width: 100px;
      } 

      th {
      }
      td {
        padding: 0.4rem 0.5rem !important;
      }
  
      .index-checkbox {
        width: 5rem;
        max-width: 5rem;
      }
  
      .space-evenly {
        justify-content: space-evenly;
      }
  
      .col-max {
        max-width: 1rem;
      }
  
      .col-min {
        max-width: 1rem;
      }
  
      .modify-manipulation {
        width: 10%;
      }
  
      .inactive-text {
        color: #cccccc;
      }
  
  
      thead {
        background-color: #008a77;
        color: #ffffff;
  
        tr {
          height: 3.5rem;
        }
      }
  
      tbody {
        tr {
          height: 3.5rem;
  
          &:nth-child(even) {
            background-color: #f6f7f7;
          }
  
          .table-action {
            &__edit {
              color: #007bff;
            }
  
            &__approve {
              background-color: #007bff;
              padding: .5rem;
              font-size: 8px;
              border-radius: 15px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  // box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select{
  background-size: 17px 4px;
  -webkit-appearance: menulist;
  font-size: 101%;
}

.position-relative {
  position: relative;
}