<div class="wrapper p-3">
  <div class="search-bar d-flex justify-content-between">
    <div class="d-flex">
      <div class="action-menu__item mr-3 flex-column">
        <label for="typefb" class="pr-4">Trạng thái</label>
        <select class="select-control" name="typefb" id="typefb" [(ngModel)]="filterModel.isHidden">
          <option [value]="null">Tất cả</option>
          <option [value]="true">Ẩn</option>
          <option [value]="false">Hiện</option>
        </select>
      </div>

      <div class="pr-2 ml-auto d-flex">
        <span class="pr-2 d-flex align-items-end">
          <button nbButton class="text-uppercase cursor-pointer" (click)="filter()">lọc</button>
        </span>
        <span class="d-flex align-items-end">
          <button nbButton class="text-uppercase cursor-pointer abort-bg" (click)="clearFilter()">xóa lọc</button>
        </span>
      </div>
    </div>
    <div class="d-flex">
      <div class="search-action d-flex">
        <input nbInput class="search-action__input input-height--36 pl-3" type="text" placeholder="Nhập tên tỉnh thành" (keyup)="searchTerm$.next($event.target.value)"
        />
        <button nbButton type="button" class="cursor-pointer search-action__submit d-flex justify-content-center">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <hr />
  <div class="position-relative">
    <table class="w-100">
      <thead>
        <tr>
          <th class="text-center no">
            <div class="d-flex align-items-center">
              <span class="pl-2">STT</span>
            </div>
          </th>
          <th class="province-or-status">
            Tên Tỉnh/thành
          </th>
          <th class="province-or-status">
            Trạng thái
          </th>
          <th class="text-center manipulation">
            Thao tác
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of pagedResult.items; index as i">
          <td class="text-center index-checkbox">
            <div class="d-flex align-items-center">
              <span class="pl-2">{{i + 1}}</span>
            </div>
          </td>
          <td [title]="item?.name" class="text-truncate">
            {{item?.name}}
          </td>
          <td [title]="(item && item.isHidden) ? 'Hiện' : 'Ẩn'" class="text-truncate">
            {{ (item && item.isHidden) ? 'Ẩn' : 'Hiện' }}
          </td>
          <td class="modify-manipulation text-center">
            <div style="zoom: 0.5;">
              <label class="switch" style="margin: 0px">
                <input type="checkbox" [checked]="!item.isHidden">
                <span class="slider round" (click)="changeActive(item.id, item.isHidden)"></span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <loading *ngIf="loading"></loading>
  </div>
  <div *ngIf="pagedResult && (pagedResult.items || []).length === 0" class="text-center py-3">Không có dữ liệu</div>
  <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
  
</div>