.wrapper {
  padding: 2.25rem 2.25rem 0.75rem;
  position: relative;

  .menu {
    background-color: #fff;

    a {
      color: #000000 !important;
      text-decoration: none;
    }

    &__active {
      border-bottom: 2px solid #008A77;
    }

    &__item {
      font-size: 1rem;
      font-weight: 500;
      margin-right: 4rem;

      &:last-child {
        margin-right: unset !important;
      }
    }
  }

  .routerlink-active {
    border-bottom: 2px solid #008A77;
  }
}
