.wrapper-popup .popup {
  margin-bottom: 0px;

  .logo-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.popup-content {
  max-height: 80vh;
  min-width: 1100px;
  max-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;

  .field-name {
    width: 100px;
  }

  .field-content {
    width: 300px;
  }

  .bulkhead-bottom {
    border-bottom: 1px solid #D8D8D8;
  }

  .evaluate {
    color: red;
  }

  .bulkhead-right {
    border-right: 1px solid #D8D8D8;
  }

  .comment-field-name {
    width: 100px;
  }

  .abort-bg {
    padding: 0.5rem;
  }

  // ---
  .disabled-rating {
    position: relative;

    .curver-rating {
      position: absolute;
      background-color: #cccccc;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .icon-start {
    // color: #6b4a4a;
    color: #484848;
  }

  .margin-left--10 {
    margin-left: 10%;
  }

  .reliability-text {
    padding-top: 3px;
    font-size: 15px;
  }

  .rating-form {
    position: relative;
  }

  .rating-star {
    position: relative;

    label {
      width: unset !important;
      min-width: unset;
      margin-bottom: unset;
      color: #ddd;
      float: right;

      &::before {
        margin-left: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
      }
    }

    input {
      display: none;
    }

    &>.half:before {
      content: "\f089";
      position: absolute;
    }

    &>input:checked~label,
    &:not(:checked)>label:hover,
    &:not(:checked)>label:hover~label {
      color: #FFD700;
    }

    &>input:checked+label:hover,
    &>input:checked~label:hover,
    &>label:hover~input:checked~label,
    &>input:checked~label:hover~label {
      color: #FFED85;
    }
  }

}

.user-avatar {
  &__img {
    min-width: 150px;
    width: 150px;
    height: 150px;
    position: relative;

    img {
      object-fit: cover;
      border-radius: 50%;
      height: 100%;
    }

    span.icon-change {
      background-color: #ffffff;
      border-radius: 50%;
      width: 2.5rem;
      max-width: 2.5rem;
      height: 2.5rem;
      max-height: 2.5rem;
      position: absolute;
      bottom: 0;
      right: 14px;
      padding: 6px;

      img {
        border-radius: unset;
        transform: scale(0.7);
      }
    }
  }
}

.progress {
  min-width: 300px;
}

.error-color {
  color: red;
}

.img-avatar{
  border-radius: 50%;
  object-fit: cover;
}

.review-with-newlines {
  white-space: pre-line;
}


@media only screen and (max-width: 1600px) {
  .popup-content {
    max-width: 250px;
  }
}

@media only screen and (max-width: 1366px) {
  .popup-content {
    max-width: 200px;
  }
  .progress {
    min-width: 300px;
  }
}

@media only screen and (max-width: 1270px) {
  .popup-content {
    min-width: 80vw;
    max-width: 80vw;
  }
  .progress {
    min-width: 275px;;
  }
}

@media only screen and (max-width: 1200px) {
  .popup-content {
    min-width: 80vw;
    max-width: 80vw;
  }
  .progress {
    min-width: 255px;
  }
}

@media only screen and (max-width: 1100px) {
  .popup-content {
    min-width: 80vw;
    max-width: 80vw;
  }
  .progress {
    min-width: 230px;
  }
}

@media only screen and (max-width: 1024px) {
  .popup-content {
    min-width: 80vw;
    max-width: 80vw;
  }
  .progress {
    min-width: 205px;
  }
}


@media only screen and (max-width: 993) {
  .popup-content {
    min-width: 80vw;
    max-width: 80vw;
  }
}