<div class="wrapper">
  <h4 class="text-uppercase font-weight-bold">thông tin đóng góp liên hệ gián tiếp</h4>
  <div class="action-bar shadow-box mt-3 p-3 d-flex flex-wrap justify-content-between bg-white">
    <div class="action-menu d-flex">
      <div class="action-menu__item mr-3 d-flex flex-column">
        <label for="province">Tỉnh/Thành phố</label>
        <select name="province" id="province" class="select-control" (change)="getDistricts($event.target.value)"
          [(ngModel)]="filterModel.stateProvinceId">
          <option [value]="''">---Chọn---</option>
          <option *ngFor="let province of stateProvinces; index as i" [value]="province.key">
            {{ province.text }}
          </option>
        </select>
      </div>
      <div class="action-menu__item mr-3 d-flex flex-column">
        <label for="district">Quận/Huyện</label>
        <select [disabled]="!filterModel.stateProvinceId || filterModel.stateProvinceId === null" name="district"
          [class.not-allowed]="!filterModel.stateProvinceId || filterModel.stateProvinceId === null" id="district"
          class="select-control" (change)="getWards($event.target.value)" [(ngModel)]="filterModel.districtId">
          <option [value]="''">---Chọn---</option>
          <option *ngFor="let district of districts; index as i" [value]="district.key">
            {{ district.text }}
          </option>
        </select>
      </div>
      <div class="action-menu__item mr-3 d-flex flex-column">
        <label for="ward">Phường/Xã</label>
        <select [disabled]="!filterModel.districtId || filterModel.districtId === null" [class.not-allowed]="!filterModel.districtId || filterModel.districtId === null"
          name="ward" id="ward" class="select-control" [(ngModel)]="filterModel.communeId">
          <option [value]="''">---Chọn---</option>
          <option *ngFor="let commune of communes; index as i" [value]="commune.key">
            {{ commune.text }}
          </option>
        </select>
      </div>
      <!-- <div class="action-menu__item mr-3 d-flex flex-column">
        <label for="compartment">Tiểu khu</label>
        <select class="select-control" name="compartment" id="compartment" [(ngModel)]="filterModel.compartmentId">
          <option [value]="''">Tất cả</option>
          <option *ngFor="let compartment of listOfCompartments" [value]="compartment.key">{{ compartment.code }}</option>
        </select>
      </div> -->
    </div>
    <div class="action-button d-flex flex-row-reverse align-items-end mt-3">
      <button nbButton type="button" class="abort-bg ml-1 cursor-pointer" (click)="clearFilter()">xóa lọc</button>
      <button nbButton type="button" (click)="filter()" class="cursor-pointer">lọc</button>
    </div>
  </div>
  <div class="mt-3 shadow-box list-user">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th class="pl-3">
              <span class="text-uppercase">stt</span>
            </th>
            <th>
              <span>Tỉnh/Thành phố</span>
            </th>
            <th>
              <span>Quận/Huyện</span>
            </th>
            <th>
              <span>Phường/Xã</span>
            </th>
            <!-- <th class="text-right">
        <span>Tiểu khu</span>
      </th>
      <th class="text-right">
        <span>Khoảnh</span>
      </th>
      <th class="text-right">
        <span>Lô</span>
      </th> -->
            <th class="text-right">
              <span>Số thông tin đóng góp</span>
            </th>
            <th class="text-right">
              <span>Chưa duyệt</span>
            </th>
            <th class="text-right">
              <span>Đang xác minh</span>
            </th>
            <th class="width-5">
              <span></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedResult.items; let i = index">
            <td class="pl-3">
              <span>{{i + 1}}</span>
            </td>
            <td class="text-truncate" [title]="item?.stateProvince?.text">
              {{item?.stateProvince?.text}}
            </td>
            <td class="text-truncate" [title]="item?.district?.text">
              {{item?.district?.text}}
            </td>
            <td class="text-truncate" [title]="item?.commune?.text">
              {{item?.commune?.text}}
            </td>
            <!-- <td class="text-truncate">
              {{item?.compartment?.code}}
            </td>
            <td class="text-truncate">
              {{item?.subCompartment.code}}
            </td>
            <td class="text-truncate">
              {{item?.plotCode}}
            </td> -->
            <td class="text-right" [title]="item?.reviewCount ? item?.reviewCount : '0'">
              {{item?.reviewCount}}
            </td>
            <td class="text-right" [title]="item?.notConfirmStatusCount ? item?.notConfirmStatusCount : '0'">
              {{item?.notConfirmStatusCount}}
            </td>
            <td class="text-right" [title]="item?.pendingStatusCount ? item?.pendingStatusCount : '0'">
              {{item?.pendingStatusCount}}
            </td>
            <td class="width-5">
              <!-- <div class="view--detail text-center p-2 width-5 cursor-pointer" (click)="routerLink(item?.commune?.key)"
                [routerLink]="['../detail', item?.commune?.key]">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Chi tiết
              </div> -->

              <div title="Xem chi tiết" class="text-center" (click)="routerLink(item?.commune?.key)"
              [routerLink]="['../detail', item?.commune?.key]">
                  <img class="cursor-pointer" src="assets/images/icon-view.svg" alt="">
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="pagedResult && (pagedResult.items || []).length === 0" class="text-center">Không có dữ liệu</div>
    <div class="w-100 px-4">
      <app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>

  </div>
