.wrapper {
  padding: 2.25rem 2.25rem 0.75rem;

  .view--detail {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 15px;
    font-size: .8rem;
  }

  .width-5 {
    width: 80px;
  }

}
