<div class="wrapper-popup overlay-popup d-flex justify-content-center align-items-center">
  <div class="popup p-4 shadow-box">
    <div class="close-icon cursor-pointer shadow-box d-flex justify-content-center align-items-center" (click)="closePopup()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <p class="text-center font-weight-bold">Gửi thông tin phản hồi thành công</p>
    <div class="center-parent">
      <img class="pointer" src="assets/images/icon-like.svg" alt="">
    </div>
    <p class="text-center">Cảm ơn bạn đã phản hồi thông tin về hệ thống.</p>
    <p class="text-center">Chúng tôi sẽ ghi nhận các đóng góp của bạn để cải thiện hệ thống tốt hơn</p>
  </div>
</div>