.wrapper-popup {
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .popup {
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;

    .logo-icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    label {
      width: 9rem;
    }

    .close-icon {
      position: absolute;
      top: -12px;
      right: -12px;
      background-color: #ffffff;
      color: #9c9c9c;
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    .change-form {
      &__field {
        position: relative;
      }

      .viewpass {
        color: #9c9c9c;
        position: absolute;
        right: 10px;

        label {
          color: #9c9c9c;
          cursor: pointer;
          display: unset !important;
        }

        &>input:checked~label {
          color: #008B77;
        }
      }
    }

    .button-submit {
      .cancel-action {
        background-color: #9c9c9c;
      }

      .submit-action {
        background-color: #008B77;
      }
    }

  }
}
