<div class="row">
  <div class="col-md-12">
    <nb-card class="boxshaw-down__none">
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <div class="logo-icon p-4 pt-5 center-parent">
            <img src="assets/images/hawa_text.png" alt="Hawa DDS" />
          </div>
          <h2 class="title">404 Không tìm thấy trang</h2>
          <small class="sub-title">Trang bạn đang tìm kiếm không tồn tại</small>
          <button (click)="goToHome()" nbButton type="button" class="btn btn-block btn-hero-primary cursor-pointer">
            Trở về trang chủ
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>