<div class="wrapper-popup overlay-popup d-flex justify-content-center align-items-center">
  <div class="popup p-4 shadow-box">
    <div class="close-icon cursor-pointer shadow-box d-flex justify-content-center align-items-center"
      (click)="closePopup()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="popup-content px-4 py-2">
      <div>
        <div class="text-uppercase font-size--20px d-flex w-100">Chỉnh sửa thông tin
        </div>
        <div class="d-flex font-weight-bold">
          <div>
            Lô {{ForestSpecailOrCommuneItem?.plotCode}} | Khoảnh {{ForestSpecailOrCommuneItem?.subCompartment?.code}} |
            Tiểu khu {{ForestSpecailOrCommuneItem?.compartment?.code}}
            | {{detailsofTreeSpecies?.commune?.text}} | {{detailsofTreeSpecies?.district?.text}} |
            {{detailsofTreeSpecies?.stateProvince?.text}}
          </div>
          <div (click)="openPopupGoogleMap()" class="icon-map">
            <img class="cursor-pointer" title="Xem vị trí trên bản đồ" width="23px"
              src="assets/images/google-map-icon.svg" alt="">
          </div>
        </div>

      </div>
      <div class="mt-5">
        <form action="" [formGroup]="FormDetailSpecTree">
          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Tên loài cây</span>
                <!-- <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="treeSpecName"
                    [title]="FormDetailSpecTree.get('treeSpecName').value ? FormDetailSpecTree.get('treeSpecName').value : ''">
                </span> -->
                <ng-container>
                  <select name="treeSpecName" id="treeSpecName" formControlName="treeSpecName" class="w-55 actor">
                    <option value="null">---Chọn---</option>
                    <option *ngFor="let treeSpecName of listOfTreeSpec; index as i" [value]="treeSpecName.id">
                      {{ treeSpecName.name }}
                    </option>
                  </select>
                </ng-container>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Năm trồng</span>
                <span class="w-70">
                  <!-- <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="plantingYear"
                    [title]="FormDetailSpecTree.get('plantingYear').value ? FormDetailSpecTree.get('plantingYear').value : ''"> -->
                    <!-- <input nbInput class="w-80 actor" type="date" formControlName="plantingDate" style="padding: 0.6rem 1.125rem;"
                    [value] ="FormDetailSpecTree.get('plantingDate').value ? (FormDetailSpecTree.get('plantingDate').value*1000 | date:'yyyy-MM-dd': '+0000') : ''"> -->

                    <input nbInput class="w-80 actor" type="date" formControlName="plantingDate" style="padding: 0.6rem 1.125rem;"
                    [value] ="FormDetailSpecTree.get('plantingDate').value ? (FormDetailSpecTree.get('plantingDate').value | date:'yyyy-MM-dd') : ''">
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Trữ lượng</span>
                <span class="w-70">
                  <!-- <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="volumnPerPlot" [title]="FormDetailSpecTree.get('volumnPerPlot').value ? FormDetailSpecTree.get('volumnPerPlot').value : ''"> -->

                  <div class="w-80 actor">
                    <span
                      [title]="FormDetailSpecTree.get('volumnPerPlot').value ? FormDetailSpecTree.get('volumnPerPlot').value : ''">{{FormDetailSpecTree.get('volumnPerPlot').value | thousandSeparate}}&nbsp;{{FormDetailSpecTree.get('volumnPerPlot').value ? 'm3' : ''}}</span>
                  </div>
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Chứng chỉ</span>
                <!-- <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="forestCert"
                    [title]="FormDetailSpecTree.get('forestCert').value ? FormDetailSpecTree.get('forestCert').value : ''">
                </span> -->

                <ng-container>
                  <select class="w-55 actor" name="forestCert" id="forestCert" formControlName="forestCert">
                    <option value="null">---Chọn---</option>
                    <option *ngFor="let forestCert of forestCerts; index as i" [value]="forestCert.key">
                      {{ forestCert.text }}
                    </option>
                  </select>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Diện tích</span>
                <span class="w-70">
                  <!-- <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="area" [title]="FormDetailSpecTree.get('area').value ? FormDetailSpecTree.get('area').value : ''"> -->

                  <div class="w-80 actor">
                    <span
                      [title]="FormDetailSpecTree.get('area').value ? FormDetailSpecTree.get('area').value : ''">{{FormDetailSpecTree.get('area').value | thousandSeparate}}&nbsp;{{FormDetailSpecTree.get('area').value ? 'ha' : ''}}</span>
                  </div>
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Tình trạng tranh chấp</span>
                <!-- <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="conflictSitCode"
                    [title]="FormDetailSpecTree.get('conflictSitCode').value ? FormDetailSpecTree.get('conflictSitCode').value : ''">
                </span> -->

                <ng-container>
                  <select class="w-55 actor" name="conflictSitCode" id="conflictSitCode"
                    formControlName="conflictSitCode">
                    <option value="null">---Chọn---</option>
                    <option value="1">Tranh chấp</option>
                    <option value="2">Không tranh chấp</option>
                  </select>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Chủ rừng</span>
                <!-- <span class="w-70">
                  <div class="w-80 actor">
                    <a class="cursor-pointer text-decoration" (click)="showPopupDetailForestOwner()"
                      title="Xem chi tiết chủ rừng">{{FormDetailSpecTree.get('actor').value}}</a>
                  </div>
                </span> -->
                <ng-container>
                  <select class="w-55 actor" name="actor" id="actor" formControlName="actor"
                    (change)="getActorType($event.target.value)">
                    <option value="null">---Chọn---</option>
                    <option *ngFor="let actor of listOfActor; index as i" [value]="actor.id">
                      {{ actor.name }}
                    </option>
                  </select>
                </ng-container>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label p-1 py-1 px-2 align-top field-name">
                  Tình trạng đất
                  <ng-template #popContent>
                    <span class="font-size--11px font-weight-400">1: {{landUseCerts[0].text}}</span>
                    <br>
                    <span class="font-size--11px font-weight-400">2: {{landUseCerts[1].text}}</span>
                    <br>
                    <span class="font-size--11px font-weight-400">3: {{landUseCerts[2].text}}</span>
                    <br>
                    <span class="font-size--11px font-weight-400">4: {{landUseCerts[3].text}}</span>
                  </ng-template>
                  <span placement="left" [ngbPopover]="popContent" popoverTitle="Tình trạng đất" #p="ngbPopover"
                    (document:click)="p.close()" (click)="$event.stopPropagation()" title="Bấm vào để xem chi tiết">
                    <i class="fa fa-info-circle info-button__color cursor-pointer" aria-hidden="true"></i>
                  </span>
                </span>
                <!-- <span class="w-70 d-flex">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="landUseCert"
                    [title]="FormDetailSpecTree.get('landUseCert').value ? FormDetailSpecTree.get('landUseCert').value : ''">
                  <div class="center-parent ml-2">
                  </div>
                </span> -->

                <ng-container>
                  <select class="w-55 actor" name="landUseCert" id="landUseCert" formControlName="landUseCert">
                    <option value="null">---Chọn---</option>
                    <option *ngFor="let landUseCert of landUseCerts; index as i" [value]="landUseCert.key">
                      {{ landUseCert.text }}
                    </option>
                  </select>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Loại chủ rừng</span>
                <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80 actor" type="text" formControlName="actorType"
                    [title]="FormDetailSpecTree.get('actorType').value ? FormDetailSpecTree.get('actorType').value : ''">
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Độ tin cậy</span>
                <!-- <span class="w-70">
                  <ng-container
                    *ngIf="ForestSpecailOrCommuneItem.reliability && ForestSpecailOrCommuneItem.reliability.text">
                    <div [class.reliability-low]="ForestSpecailOrCommuneItem?.reliability?.key === 'LowRisk'"
                      [class.reliability-moderate-risk]="ForestSpecailOrCommuneItem?.reliability?.key === 'ModerateRisk'"
                      [class.reliability-high-risk]="ForestSpecailOrCommuneItem?.reliability?.key === 'HighRisk'"
                      [class.reliability-legal]="ForestSpecailOrCommuneItem?.reliability?.key === 'Legal'"
                      [title]="ForestSpecailOrCommuneItem?.reliability?.text ? ForestSpecailOrCommuneItem?.reliability?.text : ''"
                      class="w-80 reliability center-parent">
                      <span>{{ForestSpecailOrCommuneItem?.reliability?.text}}</span>
                    </div>
                  </ng-container>
                </span> -->

                <ng-container>
                  <select class="w-55 actor" name="reliability" id="reliability" formControlName="reliability">
                    <option value="null">---Chọn---</option>
                    <option *ngFor="let reliability of reliabilitys; index as i" [value]="reliability.key">
                      {{ reliability.code }}
                    </option>
                  </select>
                </ng-container>

              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <button nbButton class="text-uppercase cursor-pointer button__save" (click)="submitForm()"
              *ngIf="admin">Lưu</button>
            <button nbButton class="text-uppercase cursor-pointer abort-bg ml-1" (click)="closePopup()">đóng</button>
          </div>
        </form>
      </div>
    </div>
  </div>