<div class="wrapper overlay-popup d-flex justify-content-center align-items-center">
  <div class="popup shadow-box p-5">
    <div class="close-icon cursor-pointer shadow-box d-flex justify-content-center align-items-center" (click)="closePopup(false)">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <h5 class="text-center text-uppercase font-weight-bold">
      thay đổi mật khẩu
    </h5>
    <form [formGroup]="changePassWordForm" action="" class="change-form py-3">
      <div class="mb-3">
        <div class="d-flex align-items-center change-form__field">
          <label for="oldpassword" class="mb-0 required">
            Mật khẩu cũ
          </label>
          <input nbInput type="password" id="oldpassword" name="oldpassword" class="" formControlName="oldpassword"
            [ngClass]="{'validate-false': formErrors.oldpassword}" required />
          <span class="viewpass">
            <input type="checkbox" class="d-none" id="viewoldpassword">
            <label for="viewoldpassword" (click)="showPassword('oldpassword')">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </label>
          </span>
        </div>
        <div class="invalid-feedback pl-11" *ngIf="formErrors.oldpassword">
          {{formErrors.oldpassword}}
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex align-items-center change-form__field">
          <label for="newpassword" class="mb-0 required">
            Mật khẩu mới
          </label>
          <input nbInput type="password" id="newpassword" name="newpassword" class="" formControlName="newpassword"
            [ngClass]="{'validate-false': formErrors.newpassword}" required />
          <span class="viewpass">
            <input type="checkbox" class="d-none" id="viewnewpassword">
            <label for="viewnewpassword" (click)="showPassword('newpassword')">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </label>
          </span>
        </div>
        <div class="invalid-feedback pl-11" *ngIf="formErrors.newpassword">
          {{formErrors.newpassword}}
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex align-items-center change-form__field">
          <label for="renewpassword" class="mb-0 required">
            Nhập lại mật khẩu
          </label>
          <input nbInput type="password" id="renewpassword" name="renewpassword" class="" formControlName="renewpassword"
            [ngClass]="{'validate-false': formErrors.renewpassword}" required />
          <span class="viewpass">
            <input type="checkbox" class="d-none" id="viewrenewpassword">
            <label for="viewrenewpassword" (click)="showPassword('renewpassword')">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </label>
          </span>
        </div>
        <div class="invalid-feedback pl-11" *ngIf="formErrors.renewpassword">
          {{formErrors.renewpassword}}
        </div>
      </div>

    </form>
    <div class="popup-action d-flex justify-content-between">
      <div class="w-50 pr-1">
        <button nbButton type="button" class="btn-block text-center text-uppercase" (click)="closePopup(true)">
          đồng ý
        </button>
      </div>
      <div class="w-50 pl-1">
        <button nbButton type="button" class="btn-block text-center text-uppercase abort-bg" (click)="closePopup(false)">
          hủy
        </button>
      </div>
    </div>
  </div>
</div>
