<div class="wrapper-popup overlay-popup d-flex justify-content-center align-items-center">
  <div class="popup p-4 shadow-box">
    <div class="close-icon cursor-pointer shadow-box d-flex justify-content-center align-items-center" (click)="closePopup()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="popup-content px-4 py-2">
      <div>
        <div class="text-uppercase font-size--20px d-flex w-100">thông tin chi tiết
        </div>
        <div class="d-flex font-weight-bold">
          <div>
            Lô {{ForestSpecailOrCommuneItem?.plotCode}} | Khoảnh {{ForestSpecailOrCommuneItem?.subCompartment?.code}} | Tiểu khu {{ForestSpecailOrCommuneItem?.compartment?.code}}
            | {{detailsofTreeSpecies?.commune?.text}} | {{detailsofTreeSpecies?.district?.text}} | {{detailsofTreeSpecies?.stateProvince?.text}}
          </div>
          <div (click)="openPopupGoogleMap()" class="icon-map">
            <img class="cursor-pointer" title="Xem vị trí trên bản đồ" width="23px" src="assets/images/google-map-icon.svg" alt="">
          </div>
        </div>

      </div>
      <div class="mt-5">
        <form action="" [formGroup]="FormDetailSpecTree">
          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Tên loài cây</span>
                <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="treeSpecName" [title]="FormDetailSpecTree.get('treeSpecName').value ? FormDetailSpecTree.get('treeSpecName').value : ''">
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Tuổi</span>
                <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="plantingYear" [title]="FormDetailSpecTree.get('plantingYear').value ? FormDetailSpecTree.get('plantingYear').value : ''">
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Trữ lượng</span>
                <span class="w-70">
                  <!-- <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="volumnPerPlot" [title]="FormDetailSpecTree.get('volumnPerPlot').value ? FormDetailSpecTree.get('volumnPerPlot').value : ''"> -->

                  <div class="w-80 actor">
                    <span [title]="FormDetailSpecTree.get('volumnPerPlot').value ? FormDetailSpecTree.get('volumnPerPlot').value : ''">{{FormDetailSpecTree.get('volumnPerPlot').value | thousandSeparate}}&nbsp;{{FormDetailSpecTree.get('volumnPerPlot').value ? 'm3' : ''}}</span>
                  </div>
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Chứng chỉ</span>
                <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="forestCert" [title]="FormDetailSpecTree.get('forestCert').value ? FormDetailSpecTree.get('forestCert').value : ''">
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Diện tích</span>
                <span class="w-70">
                  <!-- <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="area" [title]="FormDetailSpecTree.get('area').value ? FormDetailSpecTree.get('area').value : ''"> -->

                  <div class="w-80 actor">
                    <span [title]="FormDetailSpecTree.get('area').value ? FormDetailSpecTree.get('area').value : ''">{{FormDetailSpecTree.get('area').value | thousandSeparate}}&nbsp;{{FormDetailSpecTree.get('area').value ? 'ha' : ''}}</span>
                  </div>
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Tình trạng tranh chấp</span>
                <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="conflictSitCode" [title]="FormDetailSpecTree.get('conflictSitCode').value ? FormDetailSpecTree.get('conflictSitCode').value : ''">
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Chủ rừng</span>
                <span class="w-70">
                  <!-- <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="actor"> -->
                  <div class="w-80 actor">
                    <a class="cursor-pointer text-decoration" (click)="showPopupDetailForestOwner()" title="Xem chi tiết chủ rừng">{{FormDetailSpecTree.get('actor').value}}</a>
                  </div>
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label p-1 py-1 px-2 align-top field-name">
                  Tình trạng đất
                  <ng-template #popContent>
                    <span class="font-size--11px font-weight-400">1: {{landUseCerts[0].text}}</span>
                    <br>
                    <span class="font-size--11px font-weight-400">2: {{landUseCerts[1].text}}</span>
                    <br>
                    <span class="font-size--11px font-weight-400">3: {{landUseCerts[2].text}}</span>
                    <br>
                    <span class="font-size--11px font-weight-400">4: {{landUseCerts[3].text}}</span>
                  </ng-template>
                  <span placement="left" [ngbPopover]="popContent" popoverTitle="Tình trạng đất" #p="ngbPopover" (document:click)="p.close()"
                    (click)="$event.stopPropagation()" title="Bấm vào để xem chi tiết">
                    <i class="fa fa-info-circle info-button__color cursor-pointer" aria-hidden="true"></i>
                  </span>
                </span>
                <span class="w-70 d-flex">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="landUseCert" [title]="FormDetailSpecTree.get('landUseCert').value ? FormDetailSpecTree.get('landUseCert').value : ''">
                  <div class="center-parent ml-2">
                    <!-- <i class="fa fa-2x fa-info-circle info-button__color" aria-hidden="true" title="{{getLandUseCertsList()}}"></i> -->
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 d-flex mx-2 my-3">
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Loại chủ rừng</span>
                <span class="w-70">
                  <input nbInput disabled class="w-80" class="w-80" type="text" formControlName="actorType" [title]="FormDetailSpecTree.get('actorType').value ? FormDetailSpecTree.get('actorType').value : ''">
                </span>
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex">
                <span class="w-30 label   p-1 py-1 px-2 align-top field-name">Độ tin cậy</span>
                <span class="w-70">
                  <ng-container *ngIf="ForestSpecailOrCommuneItem.reliability && ForestSpecailOrCommuneItem.reliability.text">
                    <div [class.reliability-low]="ForestSpecailOrCommuneItem?.reliability?.key === 'LowRisk'" [class.reliability-moderate-risk]="ForestSpecailOrCommuneItem?.reliability?.key === 'ModerateRisk'"
                      [class.reliability-high-risk]="ForestSpecailOrCommuneItem?.reliability?.key === 'HighRisk'" [class.reliability-legal]="ForestSpecailOrCommuneItem?.reliability?.key === 'Legal'"
                      [title]="ForestSpecailOrCommuneItem?.reliability?.text ? ForestSpecailOrCommuneItem?.reliability?.text : ''"
                      class="w-80 reliability center-parent">
                      <span>{{ForestSpecailOrCommuneItem?.reliability?.text}}</span>
                    </div>
                  </ng-container>
                </span>

              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <button nbButton class="text-uppercase cursor-pointer abort-bg but-close" (click)="closePopup()">đóng</button>
          </div>
        </form>
      </div>
    </div>
  </div>